.ForCenter {
  position: absolute;
  margin: 0%;
  padding: 0%;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
}
.TeamSelection {
  border: 1px solid #d8e0f0;
  border-radius: 14px;
  text-align: center;
  width: 90px;
  color: #7d8592;
}

.ActiveTeamSelection {
  background-color: #3f8cff;
  color: white;
  font-weight: bold;
  border: 1px solid #d8e0f0;
  border-radius: 14px;
  text-align: center;
  width: 90px;
}
