@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  max-width: 1440px;
  margin: auto;
  background: #f2f2f2;
  background-color: #f4f9fd;
  font-family: "Nunito Sans", serif;
}

/* .react-tel-input .flag-dropdown {
  background-color: transparent !important;
  border: none !important;
  border-radius: none !important;
} */

.react-tel-input .form-control {
  margin-left: 65px !important;
  width: 310px !important;
  padding-left: 15px !important;
  margin-top: 20px !important;
}

.react-tel-input .selected-flag {
  width: 50px !important;
  padding: 0 0 0 12px !important;
  border-radius: 14px !important;
}

.react-tel-input .flag-dropdown {
  background-color: white !important;
  border: 1px solid #d8e0f0 !important;
  border-radius: 14px !important;
}
